@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background: radial-gradient(circle,$secondary-color,$primary-color);
}

.header{
  text-align: center;
  & img{
    margin-top: 0.5rem;
    height: 15rem;
  }
}
.footer{
  display: flex;
  text-align: center;
  justify-content: space-around;

  &__paragraph{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-top: 9rem;
    margin-left:1rem;
  }
}
a{
  text-decoration: none;
}
.center{
  text-align: center;
}